[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "pico-extras"]
	path = pico-extras
	url = git@github.com:raspberrypi/pico-extras.git
[submodule "lib/Unity"]
	path = lib/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
